---
---

@import "{{ site.theme }}";

.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center items horizontally */
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
  }
  
  .navigation-menu li {
    margin: 0 5px; /* Add some space between buttons */
  }
  
  .navigation-menu li a {
    display: block;
    background-color: #333; /* Button background color */
    color: white; /* Button text color */
    text-align: center;
    padding: 10px 20px; /* Button padding */
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 4px; /* Optional: Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .navigation-menu li a:hover, .navigation-menu li a:focus {
    background-color: #111; /* Darker background on hover
  